# Base de données (Supabase)
DATABASE_URL="postgresql://postgres.gpwlqwewtqfbthturveu:[YOUR-PASSWORD]@aws-0-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.gpwlqwewtqfbthturveu:[YOUR-PASSWORD]@aws-0-eu-west-1.pooler.supabase.com:5432/postgres"
# Serveur
PORT=3000
NODE_ENV=development

# CORS — ne jamais hardcoder, toujours via variable d'environnement
FRONTEND_URL=http://localhost:5173

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Email (Resend)
RESEND_API_KEY=re_xxxx

# Reset password
RESET_PASSWORD_URL=http://localhost:5173/reset-password

# Anthropic
ANTHROPIC_API_KEY=sk-ant-xxxx

# Groq (extraction + scoring IA)
GROQ_API_KEY=gsk_xxxx
